<div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mx-auto w-full max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Login
    </h2>
  </div>

  <div class="mt-8 mx-auto w-full max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :redirect_to, value: dashboard_path %>

        <div class="mb-4">
          <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
          <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" }, label: false %>

        </div>
        <%= f.hidden_field :redirect_to, value: dashboard_path %>

        <div class="mb-4">
          <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
          <%= f.input :password, required: false, input_html: { autocomplete: "current-password", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" }, label: false %>
        </div>

        <div class="flex items-center justify-between mb-4">
          <div class="flex items-center">
            <%= f.input :remember_me, as: :boolean, input_html: { class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" }, label: false if devise_mapping.rememberable? %>
            <label for="remember_me" class="ml-2 block text-sm text-gray-900">
              Remember me
            </label>
          </div>

          <div class="text-sm">
            <%= link_to "Forgot Password?", new_password_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
          </div>
        </div>

        <div>
          <%= f.button :submit, "LOGIN", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>

      <p class="mt-2 text-center text-sm text-gray-600">
        Don't have an account?
        <%= link_to "Sign up", new_registration_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
      </p>
    </div>
  </div>
</div>