<!DOCTYPE html>
<html>
  <head>
    <title>RailsDoMinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "toastr", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "toastr", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "toastr_custom", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render "shared/navigation" %>
      <%= yield %>
    <%= render 'shared/flash_messages' %>
  </body>
</html>
